USE [master]
GO
/****** Object:  Database [CarRent]    Script Date: 7/18/2019 10:09:53 AM ******/
CREATE DATABASE [CarRent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarRent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CarRent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarRent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CarRent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarRent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarRent]
GO
/****** Object:  Table [dbo].[Cartable]    Script Date: 7/18/2019 10:09:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cartable](
	[Car_id] [int] IDENTITY(1,1) NOT NULL,
	[Make] [nchar](10) NULL,
	[Model] [nchar](10) NULL,
	[Color] [nchar](10) NULL,
	[Year] [nchar](10) NULL,
 CONSTRAINT [PK_Cartable] PRIMARY KEY CLUSTERED 
(
	[Car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerName]    Script Date: 7/18/2019 10:09:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerName](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
	[Car_id] [int] NULL,
	[Dob] [nchar](10) NULL,
 CONSTRAINT [PK_CustomerName] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NameTable]    Script Date: 7/18/2019 10:09:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NameTable](
	[F_id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nchar](20) NULL,
	[Dob] [nchar](10) NULL,
 CONSTRAINT [PK_Table_2] PRIMARY KEY CLUSTERED 
(
	[F_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNameTable]    Script Date: 7/18/2019 10:09:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNameTable](
	[N_id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nchar](10) NULL,
	[Password] [nchar](10) NULL,
	[F_id] [int] NULL,
 CONSTRAINT [PK_UserNameTable] PRIMARY KEY CLUSTERED 
(
	[N_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserNameTable]  WITH CHECK ADD  CONSTRAINT [FK_UserNameTable_Table_2] FOREIGN KEY([F_id])
REFERENCES [dbo].[NameTable] ([F_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserNameTable] CHECK CONSTRAINT [FK_UserNameTable_Table_2]
GO
USE [master]
GO
